/*.header_container,
.header_container * {
    border: 2px solid blue;
}

.sidebar_container,
.sidebar_container * {
    border: 2px solid red;
}

.main_container,
.main_container * {
    border: 2px solid green;
} */

/* actual styling */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --box-shadow: hsla(79 0% 0% / 0.1);
    --box-shadow-inset: 3px;

    --box-shadow-padding: 15px;

    --project-box-side: hsl(41, 91%, 58%);
    --white-background: hsl(0 0% 100%);
    --background-main-container: hsl(216 11.2% 90%);

    --announcement-split-grey: hsl(360 0% 60.3%);
    --main-border-radius: 10px;

    --primary-blue: hsl(209 91.3% 55.2%);
}

body, html {
    height: 100%;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 1.2fr 5fr;
}

/* general classes */

.profile_picture_small {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.profile_picture_big {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* header */

.header_container {
    grid-area: 1 / 2 / 2 / 3;
    
    display: grid;

    padding-left: 2.5%;
    padding-right: 4%;
 
    margin-bottom: 10px;

    box-shadow:
    1.5px 5px 5px 0.5px var(--box-shadow), 
    0px 10px var(--background-main-container)
    ;
}

.top_bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}

.searchbar_container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 40px 30fr;

    align-items: center;
    padding-right: 5%;
}

.searchbar_container > input[type=text] {
    height: 40px;
    
    text-indent: 10px;
    padding-right: 10px;

    background-color: var(--background-main-container);

    border-style: none;
    border-radius: 20px;
}

.profile_alarm_container {
    display: grid;
    grid-auto-flow: column;

    align-items: center;
    justify-content: right;
    gap: 5%;
    
    
}

.profile_alarm_container > p {
    font-size: 20px;
    font-weight: 900;
}

.bottom_bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.5fr 10fr 6fr;
    align-items: center;
}

.welcome_text_container {
    display: grid;
    align-content: center;
}

.bar_buttons_container {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: right;
    gap: 50px;
}

.bar_buttons_container > button {
    height: 50px;
    width: 120px;

    background-color: var(--primary-blue);

    border-style: none;
    border-radius: 30px;

    color: var(--white-background);

    font-size: 19px;
    font-weight: 900;
}

/* sidebar */

.sidebar_container {
    grid-area: 1 / 1 / -1 / 2;

    display: flex;
    flex-direction: column;

    padding-left: 30px;
    padding-top: 20px;

    background-color: var(--primary-blue);
    color: var(--white-background);

    font-weight: 900;
}

.logo_container,
.sidebar_container li{
    display: grid;
    grid-auto-flow: column;

    justify-content: left;
    align-items: center;
}

.logo_container {
    padding-bottom: 40px;
}

.logo_container > * {
    padding-right: 25px;
}

.logo_container > p {
    padding-top: 10px;
    font-size: 30px;
}

.sidebar_container li {
    font-size: 22px;
}

.sidebar_container li > p {
    padding-top: 3px
}

.sidebar_container ul {
    display: grid;
    gap: 15px;
}

.navigation_container {
    padding-bottom: 75px;
}

.sidebar_container li > * {
    padding-right: 50px;
}



/* main */

.main_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 400px);
    padding: 40px 40px 80px 20px;

    gap: 25px;

    background-color: var(--background-main-container);
}

.main_container > * {
    display: flex;
    flex-flow: column;
}

.main_container > div > div {
    /* makes all divs take rest of space excluding header paragraphs */
    flex-grow: 1;
}

.projects_container {
    grid-area: 1 / 1 / -1 / 2;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    row-gap: 0;

  
    gap: 30px;

    overflow: auto;
}

.project_block {
    display: grid;
    grid-template-rows: 1.5fr 4fr 1.5fr;

    height: clamp(200px, 100%, 400px);

    background: linear-gradient(to right, var(--project-box-side) 2.5%, var(--white-background) 0%)
}

.project_block > h2 {
    align-self: self-end;
}

.project_block > div {
    display: grid;
    grid-auto-flow: column;

    align-content: center;
    justify-content: right;
    gap: 5%;

    padding-right: 5%;
}

.announcements_container {
    overflow: auto;
    
}

.announcements_container > div {
    display: grid;
    justify-items: center;

    padding: 15px;

    background-color: var(--white-background);
    border-radius: var(--main-border-radius);

    overflow: auto;
}

.announcements_container > div > div{
    width: clamp(150px, 100%, 400px);
    padding-top: 20px;
    padding-bottom: 20px;
}

.announcements_container > div > *:not(:last-child) {
    border-block-end: solid;
    border-color: var(--announcement-split-grey);
}

.trending_container {
    

    overflow: auto;
}

.trending_container > div {
    display: grid;

    background-color: var(--white-background);
    border-radius: var(--main-border-radius);
}

.trending_container > div > div{
    display: grid;
    grid-auto-flow: column;

    align-items: center;
    justify-content: left;

    padding-left: 20px;
    gap: 15px;
    
}

/* shadows for projects, announcements and trending */
.announcements_container ,
.trending_container,
.projects_container > div{
    padding-right: var(--box-shadow-padding);
    padding-bottom: var(--box-shadow-padding);
}

.project_block,
.announcements_container > div,
.trending_container > div{
    border-radius: var(--main-border-radius);
    box-shadow: var(--box-shadow-inset) var(--box-shadow-inset) 10px 2px var(--box-shadow);
}







