.header_container,
.header_container * {
    border: 2px solid blue;
}

.sidebar_container,
.sidebar_container * {
    border: 2px solid red;
}

.main_container,
.main_container * {
    border: 2px solid green;
}

/* actual styling */

:root {
    --box-shadow: hsla(79 0% 0% / 0.3);
    --project-box-side: hsl(41, 91%, 58%);
    --project-box-background: hsl(0 0% 100%);
    --background-main-container: hsl(216 11.2% 90%);

    --announcement-split-grey: hsl(360 0% 60.3%);
}

body, html {
    height: 100%;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

/* general classes */

.profile_picture_small {
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.profile_picture_big {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* header */

.header_container {
    grid-area: 1 / 2 / 2 / 3;
    
    display: grid;

    padding-left: 2.5%;
    padding-right: 4%;
}

.top_bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 1fr;
}

.searchbar_container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 30fr;

    align-items: center;
    padding-right: 5%;

}

.profile_alarm_container {
    display: grid;
    grid-auto-flow: column;

    align-items: center;
    justify-content: center;
    gap: 5%
}


.bottom_bar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1.5fr 10fr 6fr;
}

.welcome_text_container {
    display: grid;
    align-content: center;
}

.bar_buttons_container {
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: space-around;
}

/* sidebar */

.sidebar_container {
    grid-area: 1 / 1 / -1 / 2;

    display: flex;
    flex-direction: column;

    padding-left: 5%;
    padding-top: 5%;
}

.logo_container {
    padding-bottom: 40px;
}

.logo_container > * {
    padding-right: 25px;
}


.sidebar_container ul {
    display: grid;
    gap: 15px;
}

.navigation_container {
    padding-bottom: 45px;
}

.sidebar_container li,
.logo_container{
    display: grid;
    grid-auto-flow: column;

    justify-content: left;
    align-items: center;
}

.sidebar_container li > * {
    padding-right: 30px;
}



/* main */

.main_container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 40px 40px 80px 20px;

    background-color: var(--background-main-container);
}

.main_container > * {
    display: flex;
    flex-flow: column;
}

.main_container > div > div {
    /* makes all divs take rest of space excluding header paragraphs */
    flex-grow: 1;
}

.projects_container {
    grid-area: 1 / 1 / -1 / 2;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    
    gap: 30px;

    overflow: auto;
}

.project_block {
    display: grid;
    grid-template-rows: 1.5fr 4fr 1.5fr;

    height: clamp(200px, 100%, 500px);
    

    border-radius: 10px;
    box-shadow: 2px 2px var(--box-shadow);

    background: linear-gradient(to right, var(--project-box-side) 2.5%, var(--project-box-background) 0%)
}

.project_block > h2 {
    align-self: self-end;
}

.project_block > div {
    display: grid;
    grid-auto-flow: column;

    align-content: center;
    justify-content: right;
    gap: 5%;

    padding-right: 5%;
}

.announcements_container {
    
    overflow: auto;
}

.announcements_container > div {
    display: grid;
    justify-items: center;

    padding: 15px;

    background-color: white;

    overflow: auto;
}

.announcements_container > div > div{
    width: clamp(250px, 100%, 400px);
    padding-top: 20px;
    padding-bottom: 20px;
}

.announcements_container > div > *:not(:last-child) {
    border-block-end: solid;
    border-color: var(--announcement-split-grey);
}







